.title{
  border-bottom: 1px solid white;
}
.row{
  margin-bottom: 0px !important;
}
.datepicker-date-display{
  background-color: #f44336 !important;
}

.datepicker-day-button{
  color: #00bcd4 !important;
}

.datepicker-table td.is-selected{
  background-color: #e0e0e0 !important;
}

.datepicker-cancel{
  color: #00bcd4 !important;
}

.datepicker-done{
  color: #00bcd4 !important;
}

.timepicker-digital-display{
  background-color: #f44336 !important;
}

.timepicker-close{
  color: #00bcd4 !important;
}

.row .col.s12{
  margin-bottom: 2px !important;
}

img.responsive-img{
  width: 100% !important;
}
